.body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow:hidden;
    font-family: Poppins, sans-serif 
}


#navbar{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap:5rem;
    padding: 0px;
    box-shadow: 0px 0px 0.5px 0px;
}
#navbar img{
    width: 100%;
    padding-left: 180px;
    
}
#navbar-types{
    display: flex;
    gap:5rem;
    padding: 20px;
}
#navbar-types li{
    list-style-type: none;
}
#navbar-types li:hover{
    color:#6f42c1;;
    cursor: pointer;
} 
.dropdown :hover{
    color:#6f42c1;
}
#navbar-types button{
    color: white;
    background-color: #6f42c1;
}

.btn1 {
    position: relative;
}
.btn1 {
    display: inline-block;
    /* border-image: linear-gradient(#4e3bbf, #a928d8) 30; */
    border-width: 2px;
    border-style: solid;
    padding: 8px 25px;
    border-radius: 8px;
    color: #000c60 !important;
    background-color: white;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.btn {
    background: linear-gradient(90deg, #4e3bbf, #a928d8);
    display: inline-block;
    color: #fff;
    border: none;
    padding: 10px 24px !important;
    border-radius: 8px;
}

#image{
    margin-top: 50px;
    background-image: url("https://kona-digital.com/images/herobg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 50vh;
}
 .banner h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    color: #000c60;
    font-weight: bolder;
 }

 /*  modal-form ..........>>>>>>>>>>>>>>>>>> */
 .modal-header{
    background-image: linear-gradient(to right, #ff9b71 0%, #5a39c2 60%, #9e2ad5 100%);

    color: #ffff;
 }
.modal-footer{
    text-align: center;
    align-items: center;
}
/* .pathone {
    position: absolute;
    right: 16%;
    top: 38%;
    animation: zoom-in-zoom-out 10s ease infinite;
}
.pathtwo {
    position: absolute;
    right: 22%;
    top: 82%;
    animation: zoom-in-zoom-out 5s ease infinite;
}

.paththree {
    position: absolute;
    left: 22%;
    top: 0%;
    animation: zoom-in-zoom-out 5s ease infinite;
}
.pathfour {
    position: absolute;
    left: 0%;
    top: 20%;
    animation: zoom-in-zoom-out 10s ease infinite;
} */
.container{
    display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto ;
  background-color: white;
  /*Make the grid smaller than the container*/
  gap: 5rem;
  padding-top: 30px;
 
}

.img1{
    border:none;
    border-radius: 10rem;
    display: block;
    transition: transform .5s;
    
}
.pimg1{
    position: relative;
    top: -9rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    text-align: center;
    padding: 20px ;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    transition: transform .5s;
}
.pimg1:hover {
    transform: scale(1.05);
}
.pimg1:hover .img1 {
    transform: scale(1.05);
}



.pimg2{
    position: relative;
    top: -18rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    text-align: center;
    padding: 20px ;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    transition: transform .5s;
    
    
}
.pimg2:hover {
    transform: scale(1.05);
}
.pimg2:hover .img1 {
    transform: scale(1.05);
}
.pimg3{
    position: relative;
    top: -9rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    text-align: center;
    padding: 20px ;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    transition: transform .5s;
}
.pimg3:hover {
    transform: scale(1.05);
}
.pimg3:hover .img1 {
    transform: scale(1.05);
}

.text{
    justify-content: start;
    align-items: start;
    text-align: start;
    padding-top: 15px;
}
.text h3{
    color: #000c60;
}
.text a{
    text-align:flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    color: #000c60;
}

#cards{
    position: relative;
    top: -13rem;
}
#cards .blur1{
        position: absolute;
        left: 0;
        
        top: -15rem;
}
#cards .blur2{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 47rem;
    padding-bottom: 20rem;
    
    
}
 #cards .ropeline {
    position: absolute;
    left: 0;
    right: 0;
    
    animation: zoom-in-zoom-out1 5s ease infinite;
}


.my-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .my-card:hover {
    transform: scale(1.05);
  }
  #industry{
    margin-top: -1rem;
    margin-bottom: 10rem;
  }
  
  #industry h6{
    text-align: center;
    background-color: antiquewhite;
    padding: 8px;
    border: none;
    border-radius: 25px;

}
#trusted-container{
    background-image: url("	https://kona-digital.com/images/mapimg.png");
    background-position: center;
    background-repeat: no-repeat;
}
#trusted p{
    font-size:66px ;
    font-weight: 700;
    text-align: center;
   


}

#hyderabad-cards {
    margin-left: 10rem;
    margin-right: 7rem;
   
    margin-top: 3rem; 
    
    
}

.p-5 {
    margin-top: 1rem;
}

/* #hyderabad-cards{
  
    margin-top: 10rem;
    position: relative;
    margin-left: 10rem;
    margin-right: 10rem;

} 
.p-5 {
    margin-top: 1rem;
} */
#accordionPanelsStayOpenExample{
    
    display: block;
    width: 100%;
    padding-left: 17rem;
    padding-right: 17rem;
   
}
#accordian-btn :hover{
   color: #000c60;
}
.accordion-button:focus,
.accordion-button:not(.collapsed) {
   
    background-color: transparent;
    box-shadow: none;
}

#connect{
    margin-top: 50px;
}
#lets-connect-container {
   display: flex;
   margin-left: 30px;
   gap: 1rem;
   
   
}

.accordion-item{
    background-color: none;
}

#lets-connect-container button{
    font-size: 20px;
    font-weight: 200;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #6f42c1;
    color: white;
}
#lets-connect{
    text-align: center;
    width: 100%;
    margin: 10rem;
}

#services-contianer{
    display: flex;
    padding-top: 80px;
    /* padding-left: 50px;
    padding-right: 50px; */
    padding: 80px;
   
   

}
#services ul{
    display: flex;
    
}
#services h4{
    color: #000c60;
}

#services li{
      list-style-type: none;
      line-height: 2.8rem;
      font-weight: 400;
}
#services li:hover {
    cursor: pointer;
    color: #a928d8;
}
.dail{
    position: absolute;
    top:330rem;
    
    right: 0;
}



@media (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
    #navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #navbar img {
        padding-left: 0;
        margin-bottom: 10px;
    }

    #navbar-types {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin-top: 10px;
    }

    .container {
        grid-template-columns: 1fr;
       
    }

   .pimg1, .pimg2, .pimg3 {
        margin-top: -10px;
    }
    

    #trusted p {
        font-size: 24px;
    }

    .banner h1 {
        font-size: 24px;
    }
    #cards-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0rem;
    }
    #hyderabad-cards {
        margin-top: 2rem;
        
        /* Adjusted top margin for smaller screens */
    }
    
    .p-5 {
        margin-top: 0.5rem; /* Adjusted top margin for smaller screens */
    }
    #accordionPanelsStayOpenExample {
        padding-left: 3rem;  /* Adjust padding for larger screens */
        padding-right: 3rem; /* Adjust padding for larger screens */
    }
    #lets-connect-container{
        display: flex;
        flex-direction: column;
    }
    #lets-connect {
        margin: 5rem 2rem;
        text-align: center;
         /* Reduce margin on smaller screens */
    }
    #lets-connect p{
        margin-right: 4rem;
    }
   
    #connect-image {
        text-align: center; /* Center align content */
         /* Adjust top margin as needed */
    }
    
    #connect-image img {
        max-width: 100%; /* Ensure image does not exceed its container width */
       /* Maintain aspect ratio */
    }
    #services-contianer{
        display: flex;
        flex-direction: column;
        
        text-align: center;
        justify-content: start;
    }   
    #services h4{
        font-size: 15px;
    }
    #services ul{
        display: flex;
        flex-direction: column;
        line-height: 1rem;
        
    }
    #services li{
        list-style-type: none;
        line-height: 1.5rem;
        font-weight: 400;
        font-size: 10px;
  }
  #hyderabad-cards {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem; 
    width: 100%;
    position: relative;
   
}

  
    
  
   /* @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  } */
  
 
}