.body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow:hidden;
}


#navbar{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap:5rem;
    padding: 0px;
    box-shadow: 0px 0px 0.5px 0px;
}
#navbar img{
   width: 100%;
    padding-left: 180px;
    
}
#navbar-types{
    display: flex;
    gap:5rem;
    padding: 20px;
}
#navbar-types li{
    list-style-type: none;
}
#navbar-types li:hover{
    color:#6f42c1;;
    cursor: pointer;
} 
.dropdown :hover{
    color:#6f42c1;
}
#navbar-types button{
    color: white;
    background-color: #6f42c1;
}
.btn1 {
    position: relative;
}
.btn1 {
    display: inline-block;
    /* border-image: linear-gradient(#4e3bbf, #a928d8) 30; */
    border-width: 2px;
    border-style: solid;
    padding: 8px 25px;
    border-radius: 8px;
    color: #000c60 !important;
    background-color: white;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.btn {
    background: linear-gradient(90deg, #4e3bbf, #a928d8);
    display: inline-block;
    color: #fff;
    border: none;
    padding: 10px 24px !important;
    border-radius: 8px;
}
#products-container{
    display: flex;
    gap: 0px;
    padding-top: 40px;
}
#content{
    padding-left: 18rem;
    text-align: start;
    justify-content: flex-start;
}
#products-container h1{
    color:#282859;
}
#products-container p{
    color: #424246;
    font-weight: 450;
    padding-top: 20px;
}
#btn2{
  color: #fff;
}
#crm-title{
    padding-top: 7rem;
    text-align: center;
    justify-content: flex-start;
}
#crm-title h1{
    color: #588ce4;
    font-size:55px;
}
#crm-title p{
         color: #423a56;
        font-size: 16px;
        font-weight: 450;
    
}
#cards .konacard1 img{
    width: 10%;
}
