.body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow:hidden;
    font-family: Poppins, sans-serif ;
}


 #navbar{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap:5rem;
    padding: 0px;
    box-shadow: 0px 0px 0.5px 0px;
  }
#navbar img{
   width: 100%;
    padding-left: 180px;
    
}
#navbar-types{
    display: flex;
    gap:5rem;
    padding: 20px;
}
#navbar-types li{
    list-style-type: none;
}
#navbar-types li:hover{
    color:#6f42c1;;
    cursor: pointer;
} 
.dropdown :hover{
    color:#6f42c1;
}
#navbar-types button{
    color: white;
    background-color: #6f42c1;
}
.btn1 {
    position: relative;
}
.btn1 {
    display: inline-block;
    /* border-image: linear-gradient(#4e3bbf, #a928d8) 30; */
    border-width: 2px;
    border-style: solid;
    padding: 8px 25px;
    border-radius: 8px;
    color: #000c60 !important;
    background-color: white;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.btn {
    background: linear-gradient(90deg, #4e3bbf, #a928d8);
    display: inline-block;
    color: #fff;
    border: none;
    padding: 10px 24px !important;
    border-radius: 8px;
}
#solutions-container{
    display: flex;
    padding-top: 81px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    gap: 4rem;
}
#solutions-school{
    text-align: start;
    padding-top: 80px;
}
#solutions-school h1{
  font-size: 3.5rem;
  background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
#solutions-school h5{
  width: 56%;
  font-weight: 400;
  padding: 8px;
  text-align: center;
  border-radius: 22px;
  background: linear-gradient(90deg, #ECEAF8 0%, #E9C4E6 28.28%, #D2CDE2 63.13%, #EAEDFB 100%);
}
#solutions-dashboard {
    display: flex;
    padding-top: 81px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    gap: 4rem;
}
.solutions-monitor{
    text-align: start;
    padding-right: 52px;
    padding-left: 52px;
    padding-top: 100px;
    
}
.solutions-monitor h3{
    font-size:3.5rem;
    background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  }
  .solutions-monitor h5{
    width: 56%;
    font-weight: 400;
    padding: 8px;
    text-align: center;
    border-radius: 22px;
    background: linear-gradient(90deg, #ECEAF8 0%, #E9C4E6 28.28%, #D2CDE2 63.13%, #EAEDFB 100%);
  }
  .solutions-monitor p{
    font-size: 17px;
  }
  .tickmark{
    font-size: 17px;
    
  }
  .fa-circle-check{
    color: #8b66ea;
    font-size: 15px;
  }
  #what-container {
    
    padding-bottom: 9rem;
    background-image: url("	https://kona-digital.com/images/whatcanbg.svg");
  }
  #what-container h1{
    text-align: center;
    background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 33rem;
    padding-top: 6rem;
    font-size: 50px;
  }
  #whaticons{
    list-style-type: none;
    display: flex;
    padding-left: 12rem;
    padding-top: 10rem;
    gap: 10rem;
    
  }
  #platforms-container{
    text-align: center;
    padding-top: 5rem;
  }
  #platforms-container p{
    font-size: 20px;
   
   }
  #platforms-container h1{
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #platforms ul{
    display: flex;
    list-style-type: none;
    padding-left: 2rem;

  }
  #platforms li{
    width: 20%;
  }
 #platforms img{
    vertical-align: middle;
    width: 100%;
  }
  #platforms p,h5{
    text-align: center;
  }
.li2{
    position: relative;
     top: 12rem;
     text-align: center;
  }
  .li4{
    position: relative;
     top: 12rem;
  }
  .li6{
    position: relative;
     top: 12rem;
  }
  .accordion-header button {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0px;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    color: rgb(118, 51, 202);
    background-color: transparent;
    box-shadow: none;
}
.accordion-item{
    background-color: none;
}

.accordion {
    padding: 70px 220px;
}

#connect{
    margin-top: 50px;
}
#lets-connect-container {
   display: flex;
   margin-left: 30px;
   gap: 1rem;
   
   
}



#lets-connect-container button{
    font-size: 20px;
    font-weight: 200;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #6f42c1;
    color: white;
}
#lets-connect{
    margin: 150px;
   
    
} 
#services-contianer{
    display: flex;
    padding-top: 80px;
    padding: 80px;
}

#services ul{
    display: flex;
   
    
}
#services h4{
    color: #000c60;
    font-size: 20px;
    
}

#services li{
      list-style-type: none;
      line-height: 1.5rem;
      font-weight: 400;
      font-size: 10px;
}
#services li:hover {
    cursor: pointer;
    color: #a928d8;
}
.dail{
  position: fixed;
  top: 30rem;
  left: 90rem;
}
.dail .btn {
  padding: 1rem;
  border: none;
  border-radius: 186px 180px 182px 20px;
  -moz-border-radius: 186px 180px 182px 20px;
  -webkit-border-radius: 186px 180px 182px 20px;
  border: 0px solid #000000;
}
.modal-header{
    background-color:#952cd4;
    color: #ffff;
 }
.modal-footer{
    text-align: center;
    align-items: center;
}

#accordion-container{
    padding-top: 200px;
}


@media (max-width: 768px){
  *{
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;

  }
  html,body{
    width: 100%;
    overflow-x: hidden;
  }
  #navbar{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap:2rem;
    
    box-shadow: 0px 0px 0.5px 0px;
  }
#navbar img{
  width: 100%;
  padding-left: 0rem;
  padding-right: 1rem;
  
    
}
#navbar-types{
    display: flex;
    flex-direction: column;
    gap:1rem;
    text-align: center;
}
#navbar-types li{
    list-style-type: none;
}
.btn {
  text-align: center;
  justify-content: center;
  background: linear-gradient(90deg, #4e3bbf, #a928d8);
  display: inline-block;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 8px;
}
#solutions-container{
  display: flex;
 flex-direction: column;
  gap: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}
#solutions-school{
  text-align: center;
  padding-top: 80px;
}
#solutions-school h1{
  font-size: 2.5rem;
  background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}

#solutions-school h5{
width: 100%;
font-weight: 400;
padding: 8px;
text-align: center;
border-radius: 22px;
background: linear-gradient(90deg, #ECEAF8 0%, #E9C4E6 28.28%, #D2CDE2 63.13%, #EAEDFB 100%);
}

.btn1{
 margin-bottom: 1rem;
  
}
#btns{
  text-align: center;
  justify-content: center;
  background: linear-gradient(90deg, #4e3bbf, #a928d8);
  display: inline-block;
  color: #fff;
  border: none;
  width: 64%;
  border-radius: 8px;
  margin-bottom: 3rem;
}
#solutions-schools-image img{
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: -10px;
}
#solutions-dashboard {
  display: flex;
  flex-direction: column;
  padding-top: -2rem;
  padding-left: 30px;
  padding-right: 30px;
  
}
#solutions-dashboard-image img{
  width: 100%;
  
  
}
.solutions-monitor{
  text-align: center;
  padding-right: 10px;
    padding-left: 10px;
    
}
.solutions-monitor h3{
  font-size:2.5rem;
  background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.solutions-monitor h5{
  width: 100%;
  font-weight: 400;
  padding: 8px;
  text-align: center;
  border-radius: 22px;
  background: linear-gradient(90deg, #ECEAF8 0%, #E9C4E6 28.28%, #D2CDE2 63.13%, #EAEDFB 100%);
}
.solutions-monitor p{
  padding-left: 10px;
  padding-right: 10px;
}
 .tickmark {
  text-align: start;
  padding-left:50px;

 }
 #what-container {
    
  padding-bottom: 9rem;
  background-image: url("	https://kona-digital.com/images/whatcanbg.svg");
}
#what-container h1{
  text-align: center;
  background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 0rem;
  padding-top: 0;
  font-size: 42px;
}

#whaticons{
  list-style-type: none;
  display: flex;
  padding-left: -1rem;
  padding-top: 7rem;
  gap: 3rem;
  flex-direction: column;
  
}
#platforms-container{
  text-align: center;
  padding-top: 3rem;
}
#platforms-container p{
  font-size: 30px;
 
 }
#platforms-container h1{
  font-size: 50px;
  font-weight: 500;
  background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
-webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
#platforms ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}
#platforms li{
  width: 50%;
}
#platforms img{
  vertical-align: middle;
  width: 100%;
}
#platforms p,h5{
  text-align: center;
  
  
}
.li2{
  position: relative;
   top: 1rem;
   text-align: center;
}
.li4{
  position: relative;
   top: 1rem;
}
.li6{
  position: relative;
   top: 1rem;
}
.qa h1{
  font-size: 50px;
  font-weight: 400;
  
}
#accordion-container{
  padding-top: 10px;
}
.accordion-header button {
  font-size: 14px; 
  padding: 10px 0; 
}

.accordion {
  padding-top: -10rem;
  padding: 20px;
   
}
#lets-connect-container{
  display: flex;
  flex-direction: column;
  
}
#lets-connect {
  margin: 5rem 2rem;
  text-align: center;
 
}
#lets-connect p{
  margin-right: 4rem;
}

#connect-image {
  text-align: center; 
}

#connect-image img {
  max-width: 100%;
  padding-top: -40px; 
  padding-left:20px;
  padding-right: 20px;
}
#services-contianer{
  display: flex;
  flex-direction: column;
  
  
} 
#services-image{
  width: 100%;
}  
#services h4{   
  font-size: 15px;
}
#services ul{
  display: flex;
  flex-direction: column;
  line-height: 1rem;
  
}
#services li{
  list-style-type: none;
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 10px;
}
.dail {
  position: fixed;
  top: 24%;
  left: 80%;
}

}
